#display_block{
  width: 150px;
  height: 150px;
  border: solid 1px red;
  padding: 50px;
  margin: 50px
}

#display_inline{
  border: dodgerblue 1px solid;

  width: 200px;
  height: 200px;

  margin: 20px;
  padding: 20px;
}

.border_1{
  border: 1px solid red;
  
}

.border_2{
  border-style: dashed dotted double solid;
  border-color: red green blue violet;
}

.width_height{
  border:1px solid red;
  width: 50px;
  height: 50px;
}

#width_height{
  border:1px solid red;

  width: 500px;
  height: 50px;
  padding-bottom: 10px;
}
.margin_block{
  border: 1px solid red;
  margin: 20px;
}

.margin_block1{
  border: 1px solid red;
  margin: 20px 30px 15px 5rem;
}

.margin_collapsing{
  border: 1px solid red;
  margin: 50px;
}

.margin_auto{
  border: 1px solid red;
  width: 50px;
  margin: auto;
}

.padding{

  width: 100px;
  border: 1px solid green;
  padding: 5px 10px
}