*{
    padding: 0px;
    margin: 0px;
    background-color: #F5F4F0;

}

:root{
    font-family: 'Open Sans';
    color: #1B1B1B;
    font-size: 16px;
}

article{
    width: 1120px;
    margin: 80px auto;
}

#title{
    margin-bottom: 40px;
}

#title p {
    text-transform: uppercase;
    color: #E1624F;
    font-weight: bold;
    margin-bottom: 8px;
}

#title h1{
    font-size: 36px;
    font-weight: bold;
}

section{
    width: 1120px;
    margin: 40px auto;    
}

section img{
    border-radius: 28px;
    margin-bottom: 24px;
    vertical-align: bottom;
}

section p {
    font-style: italic;
    text-align: center;
    color: #333333;
}

#divisor{
    height: 1px;
    background-color: #D9D9D9;
}

#title-container{
    margin: 64px auto;
}

#title-container p {
    color: #333333;
}

#title-content-list p{
    text-transform: uppercase;
    color: #E95E10;
    font-weight: bold;
    margin-bottom: 2px;
}

#title-content-list h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}


ol {
    list-style: none;
}

ol li img{
    vertical-align: bottom;
}

#card-1{
    margin-bottom: 48px;    
}

.content-card{
    margin-top: 20px;
}

.content-card h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
}

.content-card p{
    color:#333333 ;
}

.content-card ul li{
    color: #0C51A7;
    font-weight: bold;
    padding-left: 5px;
    list-style-type: none;
    box-sizing: border-box;
}

.content-card ul li strong{
    color: #333333;
}

#card-2{
    margin-bottom: 48px;
}

#card-3{
    margin-bottom: 40px ;        
}

#item-couple{
    color: #591B98
}

#item-families{
    color: #E5245E;
}

#item-budget{
    color: #E95E10;
}

#description{
    margin-top: 40px ;
    color:#333333;
    text-align: center;
}

footer{
    margin: 65px auto 48px auto;
    text-align: center;
}

footer img{
    vertical-align: middle;
}




